html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    .navbar.navbar-default.navbar-fixed-top.nav.nav-custom
      .container
        .navbar-header
          a.navbar-brand(href='/') Locator
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
              li
                a(href='/about') About
              li
                a(href='/details') Details
          .container
    footer
      .row
        .col-xs-12.col-md-12
          .footer
            small &copy; Locator 2015
    script(src='/javascripts/jquery.min.js')          
    script(src='/javascripts/bootstrap.min.js')          
          
